<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviors">
          <serviceThrottling maxConcurrentCalls="3"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ConcurrencyModeServer.Service">
        <endpoint contract="ConcuurencyModeServerContractLib.IService" binding="netTcpBinding" address="net.tcp://localhost:9002/tcpep"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>