<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!-- WCF Service Configuration-->

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClalculatorServiceEndpointBehavior">
          <MessageInspectorBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="MessageInspectorBehavior" type="WCFExtensibilityLib.MessageInspectionEndpointBehaviorExtensionElement, WCFExtensibilityLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="CalculatorServiceLib.CalculatorService">
        <endpoint address="net.tcp://localhost:9000/lanep" behaviorConfiguration="ClalculatorServiceEndpointBehavior"
            binding="netTcpBinding" bindingConfiguration="" contract="CalculatorServiceContractLib.ICalculatorService" />
      </service>
      <service name="ConfigurationProviderServiceLib.ConfigurationProvierService">
        <endpoint address="http://localhost:9001/configureep" binding="basicHttpBinding"
            bindingConfiguration="" contract="ConfigurationProvierServiceContractLib.IConfigurationProvierService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>